@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$purple: hsl(275, 87%, 45%);
$purple-invert: findColorInvert($purple);

$primary: rgb(240, 150, 70);

@import "../node_modules/bulma/sass/utilities/derived-variables.sass";

$addColors: (
        "purple":($purple, $purple-invert),
);

$colors: map-merge($colors, $addColors);

@import '../node_modules/bulma/bulma';
//@import '../node_modules/bulma-extensions';

// Header Zone
header {
  font-family: "Roboto", sans-serif;
}

button.language_picker {
  border: none;
  text-decoration: none;
  padding: 1em;
}

button.language_picker:hover {
  cursor: pointer;
  background-color: #292929;
}

button.language_picker.activated_language {
  height: 100%;
}

.nav-social-media {
  padding: 5px 10px 0px;
}

// Body Zone
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.project-card {
  padding: 1rem;
}

.project-columns {
  padding: 5rem;
}

// Footer Zone
$footer-background-color: #fafafa;

.footer {
  padding: 2rem 1.5rem 1rem; // change he padding to make the footer smaller so that it doesn't take too much in the end of the page.
}

// General Zone
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
